{% extends "master.html" %}

{% block title %}
  Expense Tracker
{% endblock %}

{% block content %}
  <div class="main">
    <h1>Expense Tracker</h1>

    <h3>Home Page</h3>
  
    <h3>About the Project</h3> 
    
    <div id="about">
        <p>Hello and welcome to my expense tracker! This is my first Django project so it's rather simple and minimialistic but I'm planning on constantly updating this whenever I get time so expect to see big improvements in the future.</p>

        <h4>Current Features:</h4> 
        <ul>
            <li>Effortless Expense Tracking: Easily record your daily expenses and categorize them for a clear overview of your spending habits.</li>
            <li>Budget Management: Set and monitor budgets to stay in control of your finances.</li>
            <li>User-Friendly Interface: An intuitive design that makes managing your finances easy and enjoyable.</li>
        </ul>

        <h4>Upcoming Features:</h4> 
        <ul>
            <li>Social Media Login: I'm working on integrating social media login options, making it even more convenient for you to access your account.</li>
            <li>Expense Overviews: Soon, you'll be able to view comprehensive expense overviews, including trends, recurring expenses, and more.</li>
            <li>Advanced Analytics: Expect advanced analytics tools to help you make smarter financial decisions.</li>
        </ul>

        <p>Please don't hesitate to share any feedback, criticisms or suggestions you might have.</p>

        
    </div>
  </div>
{% endblock %}
